
@font-face {font-family: "iconfont";
  src: url('iconfont.eot'); /* IE9*/
  src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff') format('woff'), /* chrome, firefox */
  url('iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:24px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-bankcard:before { content: "\e9a6"; }
.icon-idcard:before { content: "\e9a7"; }
.icon-phone:before { content: "\e9a9"; }
.icon-tablet:before { content: "\e8c0"; }
.icon-target2:before { content: "\e8c5"; }
.icon-toolbox:before { content: "\e8d1"; }
.icon-tools:before { content: "\e8d2"; }
.icon-tools2:before { content: "\e8d3"; }
.icon-telescope:before { content: "\e8d8"; }
.icon-upload2:before { content: "\e8e6"; }
.icon-trophy:before { content: "\e8ed"; }
.icon-video2:before { content: "\e8fc"; }
.icon-search3:before { content: "\e885"; }
.icon-shield:before { content: "\e88c"; }
.icon-speedometer:before { content: "\e89e"; }
.icon-strategy:before { content: "\e8b2"; }
.icon-picture:before { content: "\e839"; }
.icon-streetsign:before { content: "\e8b3"; }
.icon-pictures:before { content: "\e83b"; }
.icon-piechart:before { content: "\e83c"; }
.icon-profilefemale:before { content: "\e83f"; }
.icon-profilemale:before { content: "\e840"; }
.icon-puzzle:before { content: "\e842"; }
.icon-presentation:before { content: "\e84c"; }
.icon-pricetags:before { content: "\e84d"; }
.icon-printer2:before { content: "\e850"; }
.icon-refresh2:before { content: "\e852"; }
.icon-quote:before { content: "\e85b"; }
.icon-recycle:before { content: "\e860"; }
.icon-scissors:before { content: "\e86a"; }
.icon-map2:before { content: "\e7cd"; }
.icon-newspaper:before { content: "\e7f5"; }
.icon-mic2:before { content: "\e7c9"; }
.icon-scope:before { content: "\e86b"; }
.icon-ribbon2:before { content: "\e865"; }
.icon-mappin:before { content: "\e7ce"; }
.icon-paintbrush:before { content: "\e800"; }
.icon-paperclip:before { content: "\e805"; }
.icon-phone2:before { content: "\e80f"; }
.icon-pencil:before { content: "\e812"; }
.icon-laptop:before { content: "\e786"; }
.icon-layers2:before { content: "\e794"; }
.icon-lifesaver:before { content: "\e797"; }
.icon-lock3:before { content: "\e7b0"; }
.icon-megaphone:before { content: "\e7c2"; }
.icon-expand2:before { content: "\e71d"; }
.icon-edit2:before { content: "\e723"; }
.icon-envelope:before { content: "\e725"; }
.icon-flag3:before { content: "\e74b"; }
.icon-grid2:before { content: "\e751"; }
.icon-lightbulb:before { content: "\e798"; }
.icon-linegraph:before { content: "\e79a"; }
.icon-hourglass:before { content: "\e75a"; }
.icon-focus:before { content: "\e73d"; }
.icon-heart2:before { content: "\e763"; }
.icon-key:before { content: "\e76b"; }
.icon-camera3:before { content: "\e6cc"; }
.icon-clipboard2:before { content: "\e6d1"; }
.icon-compass:before { content: "\e6ea"; }
.icon-clock2:before { content: "\e6d3"; }
.icon-circlecompass:before { content: "\e6da"; }
.icon-cloud3:before { content: "\e6eb"; }
.icon-document:before { content: "\e707"; }
.icon-documents:before { content: "\e708"; }
.icon-download2:before { content: "\e70c"; }
.icon-alarmclock:before { content: "\e676"; }
.icon-anchor:before { content: "\e67e"; }
.icon-anchor2:before { content: "\e67f"; }
.icon-aperture:before { content: "\e682"; }
.icon-attachment2:before { content: "\e68e"; }
.icon-bookopen:before { content: "\e6a1"; }
.icon-bargraph:before { content: "\e6a9"; }
.icon-basket:before { content: "\e6aa"; }
.icon-browser:before { content: "\e6ac"; }
.icon-calendar:before { content: "\e6b3"; }
.icon-briefcase2:before { content: "\e6b6"; }
.icon-caution:before { content: "\e6c0"; }
.icon-chat2:before { content: "\e6c4"; }
.icon-185071musicspeaker:before { content: "\e633"; }
.icon-crownking:before { content: "\e637"; }
.icon-185073bookdowload:before { content: "\e635"; }
.icon-185072bookread:before { content: "\e634"; }
.icon-185083likelove:before { content: "\e636"; }
.icon-185086mapuser:before { content: "\e639"; }
.icon-185085happysmiley:before { content: "\e638"; }
.icon-185087link:before { content: "\e63a"; }
.icon-185088locklocker:before { content: "\e63b"; }
.icon-185089lockerunlock:before { content: "\e63c"; }
.icon-185090deletegarbage:before { content: "\e63d"; }
.icon-185091dangerdeathdeletedestroyskull:before { content: "\e63e"; }
.icon-185074notebook:before { content: "\e63f"; }
.icon-185075envellopemail:before { content: "\e640"; }
.icon-185076suitcasetravel:before { content: "\e641"; }
.icon-185077firstaidmedecineshield:before { content: "\e642"; }
.icon-185078emailmail:before { content: "\e643"; }
.icon-185079bubblecommenttalk:before { content: "\e644"; }
.icon-185080bubblelovetalk:before { content: "\e645"; }
.icon-185081speechtalkuser:before { content: "\e646"; }
.icon-185082manpeopleuser:before { content: "\e647"; }
.icon-185101caddieshopping:before { content: "\e648"; }
.icon-185102receiptshopping:before { content: "\e649"; }
.icon-185103bagshopping:before { content: "\e64a"; }
.icon-185104umbrellaweather:before { content: "\e64b"; }
.icon-185105drugmedecinesyringue:before { content: "\e64c"; }
.icon-185106armchairchair:before { content: "\e64d"; }
.icon-185107backpacktrekking:before { content: "\e64e"; }
.icon-185108chaplinhatmovie:before { content: "\e64f"; }
.icon-desktop:before { content: "\e6fc"; }
.icon-185109cocktailmojito:before { content: "\e650"; }
.icon-185092clocktime:before { content: "\e651"; }
.icon-185093dashboardspeed:before { content: "\e652"; }
.icon-185094settings:before { content: "\e653"; }
.icon-185095settings:before { content: "\e654"; }
.icon-185096settings:before { content: "\e655"; }
.icon-185097database:before { content: "\e656"; }
.icon-185100caddieshopshopping:before { content: "\e659"; }
.icon-185110divingleisureseasport:before { content: "\e65a"; }
.icon-185111monoclemustache:before { content: "\e65b"; }
.icon-185112baristacoffeeespresso:before { content: "\e65c"; }
.icon-185113coffee:before { content: "\e65d"; }
.icon-185114cheffoodrestaurant:before { content: "\e65e"; }
.icon-185115barbecueeatfood:before { content: "\e65f"; }
.icon-185116eatfoodhotdog:before { content: "\e660"; }
.icon-185098sync:before { content: "\e657"; }
.icon-185099factoryliftwarehouse:before { content: "\e658"; }
.icon-185118japantea:before { content: "\e662"; }
.icon-185117foodicecream:before { content: "\e661"; }
.icon-adjustments:before { content: "\e667"; }
.icon-185030cookpanpot:before { content: "\e601"; }
.icon-185031shoessnickers:before { content: "\e602"; }
.icon-185029ipod:before { content: "\e600"; }
.icon-185033ipodmusic:before { content: "\e604"; }
.icon-185034ipodminimusic:before { content: "\e605"; }
.icon-185032ipad:before { content: "\e603"; }
.icon-185119eatfoodforkknife:before { content: "\e663"; }
.icon-185035computer:before { content: "\e606"; }
.icon-185036remotecontrol:before { content: "\e607"; }
.icon-185037browserwindow:before { content: "\e608"; }
.icon-185020macintosh:before { content: "\e609"; }
.icon-185021bombbug:before { content: "\e60a"; }
.icon-185022computermacintoshvintage:before { content: "\e60b"; }
.icon-185023computerimac:before { content: "\e60c"; }
.icon-185024computerimac:before { content: "\e60d"; }
.icon-185026laptopmacbook:before { content: "\e60f"; }
.icon-185025ibooklaptop:before { content: "\e60e"; }
.icon-185027computernetwork:before { content: "\e610"; }
.icon-185028iphone:before { content: "\e611"; }
.icon-185049designpencilrule:before { content: "\e614"; }
.icon-185047pen:before { content: "\e612"; }
.icon-185048pen:before { content: "\e613"; }
.icon-185053brushpaint:before { content: "\e618"; }
.icon-185050eyedropper:before { content: "\e615"; }
.icon-185052paintbucket:before { content: "\e617"; }
.icon-185051crop:before { content: "\e616"; }
.icon-185054paintingroll:before { content: "\e619"; }
.icon-185055paintingpallet:before { content: "\e61a"; }
.icon-home:before { content: "\e61b"; }
.icon-185040mappin:before { content: "\e61d"; }
.icon-185039earthglobe:before { content: "\e61c"; }
.icon-185041arrowtarget:before { content: "\e61e"; }
.icon-185043inkpen:before { content: "\e620"; }
.icon-185042editmodify:before { content: "\e61f"; }
.icon-185056stamp:before { content: "\e624"; }
.icon-185057magicmagicwand:before { content: "\e625"; }
.icon-185059handlevector:before { content: "\e627"; }
.icon-185066picture:before { content: "\e62e"; }
.icon-185063cameraphotopolaroid:before { content: "\e62b"; }
.icon-185062cameraphoto:before { content: "\e62a"; }
.icon-185068musicnote:before { content: "\e630"; }
.icon-185061photopictures:before { content: "\e629"; }
.icon-185060magnet:before { content: "\e628"; }
.icon-185046designgraphictablettablet:before { content: "\e623"; }
.icon-185044pen:before { content: "\e621"; }
.icon-185064picture:before { content: "\e62c"; }
.icon-185045pen:before { content: "\e622"; }
.icon-185065framepicture:before { content: "\e62d"; }
.icon-185069headsetsound:before { content: "\e631"; }
.icon-185070microrecord:before { content: "\e632"; }
.icon-185058gridlines:before { content: "\e626"; }
.icon-185067cameravideo:before { content: "\e62f"; }
